html, body {
	background-image: url('../img/restaurante.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
@media only screen and (max-width: 500px) {
    body {
        background-image: url('../img/movilresraturante.png');
        background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-color: #fff;
	    color: #636b6f;
	    font-family: 'Raleway', sans-serif;
	    font-weight: 100;
	    height: 100vh;
	    margin: 0;
    }
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  
}

.blanco{
    color: white;
}